@font-face {
	font-family: 'Inter'; 
	src: url(./Inter.ttf); 
}

@font-face {
	font-family: 'Inter-light'; 
	src: url(./Inter-light.ttf); 
}

.borderTemp{
    border-radius: 20px;
    border: 1px solid #000;
    width: 1088px;
    height: 920px;
    flex-shrink: 0;
    background: linear-gradient(126deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 255, 87, 0.60) 100%);
    margin-left: 40px;
}

.borderTemp.alt{
    background: linear-gradient(126deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 138, 122, 0.60) 100%);
}

.temperatureText {
    color: #000;
    font-family: Inter-light;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: 200px;
    letter-spacing: -12px;
    position: absolute;
    margin-top: 70px;
    margin-left: 100px;
}

.co2Text {
    color: #000;
    font-family: Inter-light;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: 200px;
    letter-spacing: -12px;
    position: absolute;
    margin-top: 331px;
    margin-left: 100px;
}

.pText {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -2.4px;
    position: absolute;
    margin-top: 254px;
    margin-left: 100px;
}

.p2Text {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -2.4px;
    position: absolute;
    margin-top: 515px;
    margin-left: 100px;
}

.count{
    width: 713px;
    height: 493px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #7AFFA7;
}

.count.alt{
    background: #FF8A7A;
}

.resultText {
    width: 593px;
    height: 161.193px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 89px;
    font-style: normal;
    font-weight: 500;
    line-height: 89px;
    letter-spacing: -5.34px;
    position: absolute;
    margin-top: 62.8px;
    margin-left: 60px;
}

.pResult {
    width: 505px;
    height: 26.168px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    position: absolute;
    margin-top: 400.22px;
    margin-left: 60px;
}

.container {
    display: flex;
    margin-top: 40px;
}

.cards {
    width: 336px;
    height: 383px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #000;
}

.cardsText {
    width: 296px;
    height: 104.255px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: -3.3px;
    position: absolute;
    margin-top: 54.87px;
    margin-left: 20px;
}

.buttCards {
    display: flex;
    width: 296px;
    height: 63.65px;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #FFF;
    background: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -1.5px;
    position: absolute;
    margin-top: 283.43px;
    margin-left: 20px;

}

.buttCards:hover {
    border-radius: 100px;
    border: 1px solid #FFF;
    background: #000;
    color: #FFF;
}

.buttCards:hover svg path {
    stroke: white;
}

.logoCards {
    width: 336px;
    height: 383px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #000;
    margin-left: 41px;
}

.logoBack {
    position: absolute;
    margin-top: 114px;
    margin-left: 66px;
    border-radius: 20px;
}

.logoFront {
    position: absolute;
    margin-top: 160.42px;
    margin-left: 80.18px;
}

.body {
    position: absolute;
    display: flex;
    margin-top: 10px;
    margin-left: 39px;
}

.dushnila {
    color: #000;
    font-family: Inter;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 46.99px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center
}

.size {
    width: 1920px;
    height: 1020px;
}